<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="inputName">Nom du musée</label>
    <input type="text" class="form-control" id="inputName">
  </div>
  <div class="form-group">
  <label for="inputAddress">Adresse</label>
  <input type="text" class="form-control" id="inputAddress">
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputCity">Ville</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="form-group col-md-6">
    <label for="inputZip">Code postal</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
</div>
<div class="form-group">
  <label for="inputTel">Téléphone</label>
  <input type="tel" class="form-control" id="inputTel">
</div>
<div class="form-group">
  <label for="inputWebSite">Site web</label>
<input class="form-control form-control-lg" type="text" id="inputWebSite">
</div>
<button type="submit" class="btn btn-primary btn-block">Ajouter</button>
</form>
