
<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ museumTitle }}</h2>
        <p class="card-text">Adresse : {{ adress }}</p>
        <p>Ville : {{ ville }}</p> <p>CP : {{ codePostal }}</p>
        <p>tel :<a href="tel:{{ tel }}"> {{ tel }}</a></p>
        <p>Site internet : <a href="{{ webPage }}">{{ webPage }}</a></p>
        <p>Période d'ouverture : {{ ouverturePeriode }}</p>
        <a href="" routerLink='/' class="d-flex justify-content-end text-decoration-none" role="button" aria-pressed="true">⬅️   Retour à la liste des musées</a>
      </div>
    </div>
  </div>
</div>
<!-- <p>{{ museumTitle }}</p>
<p>{{ adress }}</p>
<p>{{ ville }}</p>
<p>{{ codePostal }}</p>
<p>{{ tel }}</p>
<p>{{ webPage }}</p>
<p>{{ ouverturePeriode }}</p> -->
